{% extends "layout.html" %}

{% block content %}
<h2>Check-In/Out:</h2> At this time you will not get a confirmation that the form was submitted correctly.<br />
<br />
{% from "_formhelpers.html" import render_field %}
<form name="checkinout" method="POST">
<div class="row row-cols-2 offset-sm-1">
    <div class="col">{{ form.storebrand.label }}:</div>
    <div class="col-sm-6">{{ form.storebrand }}</div>
    <div class="col">{{ form.storenumber.label }}:</div>
    <div class="col-sm-6">{{ form.storenumber }}</div>
    <div class="col">{{ form.techonename.label }}:</div>
    <div class="col-sm-6">{{ form.techonename }}</div>
    <div class="col">{{ form.techtwoname.label }}:</div>
    <div class="col-sm-6">{{ form.techtwoname }}</div>
    <div class="col">{{ form.activitytype.label }}:</div>
    <div class="col-sm-6">{{ form.activitytype }}</div>
    <div class="col">{{ form.datefield.label }}:</div>
    <div class="col-sm-6">{{ form.datefield }}</div>
    <div class="col">{{ form.timefield.label }}:</div>
    <div class="col-sm-6">{{ form.timefield }}</div>
    <div class="col">{{ form.notes.label }}: Including additional techs.</div>
    <div class="col-sm-6">{{ form.notes }}</div>
    <div class="col">{{ form.submit() }}</div>
</div>
</form>
<br />
<br />
<br />
 
{% endblock %}