 {% extends "layout.html" %}

 {% block content %}
 <h1>Check-In/Out:</h1> At this time you will not get a confirmation that the form was submitted correctly.<br />
 <br />
 <div class="row">
     <div class="col-md-6 offset-md-1">
        {% from "_formhelpers.html" import render_field %}
        <form name="checkinout" method="POST">
            {{ form.storebrand.label }}: {{ form.storebrand }}<br />
            {{ form.storenumber.label }}: {{ form.storenumber }}<br />
            {{ form.techonename.label }}: {{ form.techonename }}<br />
            {{ form.techtwoname.label }}: {{ form.techtwoname }}<br />
            {{ form.activitytype.label }}: {{ form.activitytype }}<br />
            {{ form.datefield.label }}: {{ form.datefield }}<br />
            {{ form.timefield.label }}: {{ form.timefield }}<br /><br />
            {{ form.notes.label }}: Including additional techs.<br />
            {{ form.notes }}<br />
            {{ form.submit() }}
        </form>
     </div>
 </div>
 <br />
 <br />
 <br />
 
  {% endblock %}