<!DOCTYPE html>
<html>
<head>
    <title>TDX Tech - LBI Tech Portal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}"/>
</head>
<body>
<div class="container-fluid text-center top-container">
    <img src="{{ url_for('static',filename='images/tdx-56-logo-rgb-tight.png')}}">
</div>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
    {% include "includes/footer.html" %}
</body>
</html>    