{% extends "layout.html" %}

{% block content %}
<h2>Find Store:</h2>
<form action="{{url_for('deliverables')}}" name="store_search" method="POST">
<div class="row row-cols-2 offset-sm-1">
    <div class="col">{{ form.storebrand.label }}:</div>
    <div class="col">{{ form.storebrand() }}</div>
    <div class="col">{{ form.storenumber.label }}:</div>
    <div class="col">{{ form.storenumber() }}</div>
    <div class="col">{{ form.constphase.label }}:</div>
    <div class="col">{{ form.constphase() }}</div>
    <div class="col">{{ form.search() }}</div>
</div>
</form>
<br>Note: Verify that you have the correct store number, or your images will be attributed to the wrong store.


 {% endblock %}